<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/img/icons/114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/img/icons/72x72.png">
    <link rel="apple-touch-icon-precomposed" href="~/img/icons/default.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Libraries CSS Files -->
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.min.css" rel="stylesheet" />
    <link href="~/Content/owl.transitions.min.css" rel="stylesheet" />
    <link href="~/Content/validation-summary.css" rel="stylesheet" />

    <!-- Main Stylesheet File -->
    <link href="~/Content/style.css" rel="stylesheet" />

    <!--Your custom colour override - predefined colours are: colour-blue.css, colour-green.css, colour-lavander.css, orange is default-->
    <link href="~/Content/colour-lavender.css" id="colour-scheme" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Flexor
      Theme URL: https://bootstrapmade.com/flexor-free-multipurpose-bootstrap-template/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<!-- ======== Region: body ======== -->

<body class="fullscreen-centered page-register">
    <!--Change the background class to alter background image, options are: benches, boots, buildings, city, metro -->
    <div id="background-wrapper" class="benches" data-stellar-background-ratio="0.8">

        <!-- ======== Region: #content ======== -->
        <div id="content">
            <div class="header">
                <div class="header-inner">
                    <!--navbar-branding/logo - hidden image tag & site name so things like Facebook to pick up, actual logo set via CSS for flexibility -->
                    <a class="navbar-brand center-block" href='@Url.Action("Index","Home")' title="Home">
                        <h1 class="hidden">
                            <img src="~/img/KazancLimani.png" alt="KazancLimani Logo">
                            Flexor
                        </h1>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="panel panel-default" style="max-height: 500px;overflow-y: auto; overflow-x:auto;">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
    </div>
    <!-- Required JavaScript Libraries -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/stellar.min.js"></script>
    <script src="~/Scripts/waypoints.min.js"></script>
    <script src="~/Scripts/counterup.min.js"></script>
    <script src="~/Scripts/contactform.js"></script>
    <script src="~/Scripts/fieldterms.js"></script>
    <script src="~/Scripts/GorselYukle.js"></script>

    <!-- Template Specisifc Custom Javascript File -->
    <script src="~/Scripts/custom.js"></script>

    <!--Custom scripts demo background & colour switcher - OPTIONAL -->
    <script src="~/Scripts/color-switcher.js"></script>

    <!--Contactform script -->
    <script src="~/Scripts/contactform.js"></script>

</body>

</html>
